#marvel-logo{
    background: transparent;
    width: 80px;
    height: 57px;
    margin-left: 16px;
}

#nav-container{
    gap:10px;
}

#favorites-search-bar i{
    color:grey;
}

.heroes-grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
}

#hero-card{
    height: 380px;
    width: 256px;
    opacity: 1;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 29px;
}

.card-img{
    height: 380px;
    width: 256px;
    object-fit: cover;
}

.card-title{
    height: 23px;
}

.modal-comic-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-comic-item{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.modal-comic-img{
    height: 95px;
    width: 64px ;
}

.modal-comic-information{
    display: flex;
    flex-direction: column;
}

.modal-comic-title{
    font-weight: bold;
    color: black;
}

.modal-comic-description{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-height: 1.6; /* Set the line-height to adjust the spacing between lines */
  max-height: 4.8em; /* Calculate max-height: lines * line-height */
  color: black;
}

.comic-detail-container{
    margin-top: 29px;
    gap:32px;
    margin-left: 73px;
    margin-right: 73px;
}



.comic-detail-img{
    height: 838px;
    width: 545px;
    object-fit: cover;
}


@media (max-width: 999px) {
.comic-detail-container{
    flex-wrap: wrap;
    
}

}

@media (max-width: 545px) {
.comic-detail-img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

}
